<h1>Productos de limpieza </h1>
<table class="table table-striped ">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Producto</th>
        <th scope="col">Precio</th>
        <th scope="col">Detalles</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Lavandina</td>
        <td>10</td>
        <td><button type="button" 
          class="btn btn-outline-primary" 
          [routerLink]="['/products', 'lavandina', 'red']">
          Detalles
        </button></td>
      </tr>
      <tr>
        <th scope="row">2</th>
        <td>Detergente</td>
        <td>3</td>
        <td><button type="button" class="btn btn-outline-primary" 
          [routerLink]="['/products', 'Detergente', 'blue']">
          Detalles</button></td>
      </tr>
      <tr>
        <th scope="row">3</th>
        <td >Leche Condensada</td>
        <td >3.89</td>
        <td><button type="button" class="btn btn-outline-primary" 
          [routerLink]="['/products', 'Leche Condensada', 'green']">
          Detalles</button></td>
      </tr>
    </tbody>
  </table>