<h1 class="center">Productos de limpieza </h1>
<table class="table table-striped ">
    <thead>
      <tr>
       
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Precio</th>
        <th scope="col">Descripción</th>
      </tr>
    </thead>
    <tbody>
      @for (product of productsList; track product.id) {
      <tr>
        <th scope="row">{{product.id}}</th>
        <td>{{product.name}}</td>
        <td [ngClass]="{'red':product.price > 5}">{{product.price | currency : 'EUR' : 'symbol' :'1.2-2'}}</td>
        <td>{{product.description}}</td>
        <td><button type="button" 
          class="btn btn-outline-primary" 
          [routerLink]="['/products', product.id]">
          Detalles
        </button></td>
      </tr>
    }
     
    </tbody>
  </table>